.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky; /* header will stick to top as we scroll */
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain; /*CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container. This property tells the content to fill the container in a variety of ways; such as in this line of code it means : "preserve that aspect ratio"*/
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none; /*defaults to current color if absent*/
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly; /*justify-content — controls alignment of all items on the main axis. align-items — controls alignment of all items on the cross axis*/
}

.header__OptionLineOne {
  font-size: 10px;
}

.header__OptionLineTwo {
  font-size: 13px;
  font-weight: 800; /* level of bold*/
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
